* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.img-container {
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 20px 20px;
}

.navlinks a:link {
  text-decoration: none;
  font-size: 25px;
  margin-right: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navlinks a {
  /* color: rgb(184, 149, 149); */
  color: black;
  font-weight: 500;
}

.navlinks a:hover {
  color: rgb(25, 206, 25);
  font-weight: 550;
}

.main-logo {
  width: 130px;
}

.cart-logo {
  width: 20px;
}

.images-slider {
  background-color: #c9adc6;
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.slider-img {
  width: 900px;
  height: 630px;
  margin-left: 55px;
  margin-top: 65px;
}

.card {
  background-color: #b08ead;
  /* background-color: #e47a2e; */
  width: 450px;
  height: 420px;
  margin-top: 169px;
  margin-left: 5px;
  transform: translateX(-160px);
  flex-shrink: 0;
}

.slide {
  display: flex;
  justify-content: flex-start;
}

.card-details {
  margin-top: 130px;
  margin-left: 60px;
}

.card-details p {
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 1.5px;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-details h1 {
  color: whitesmoke;
  font-size: 40px;
  font-family: serif;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.card-details a {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-details a:link {
  text-decoration: none;
  padding: 9px 0px;
  border-bottom: 2px solid white;
}

.btn-icon {
  height: 24px;
  width: 24px;
}

.slider-btn {
  background-color: white;
  color: green;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
}

.slide {
  position: relative;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.slider-buttons {
  position: absolute;
  height: 55px;
  width: 110px;
  top: 700px;
  left: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designer-details {
  padding: 60px;
}

.designer-details h4 {
  /* color: #b08ead; */
  color: #91288b;
  margin-left: 420px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.designer-details p {
  font-size: 24px;
  margin-left: 110px;
  margin-right: 90px;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 20px;
  font-style: oblique;
  margin-bottom: 10px;
}

.designer-details a {
  text-decoration: none;
  color: #b08ead;
  margin-left: 500px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1.5px solid #c9adc6;
  border-radius: 50px;
  display: inline-block;
  padding: 12px 20px;
}

.designer-details a:hover {
  background-color: #b08ead;
  color: white;
}

.author-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.author {
  height: 430px;
  width: 375px;
  /* background-color: #c9adc6; */
  /* background-color: #17a2b8; */
  background-color: #333333;
  /* background-color: #91288b; */
  cursor: pointer;
}

.author-img {
  width: 100%;
}

.author:hover {
  transform: scale(1.1);
  transition: all 0.7s ease;
}

.author-info .details-info {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
  color: rgb(248, 210, 41);
  font-weight: 500;
  /* color: black; */
}

.author-info .learn-more {
  margin-left: 30px;
  font-size: 17.5px;
  color: rgb(205, 168, 2);
  /* color: black; */
  text-decoration: none;
  /* font-weight: bold; */
  font-style: italic;
}

.aboutme-info {
  background-color: #c9adc6;
  /* background-color: #121f38; */
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 80px;
}

.aboutme-img {
  width: 40%;
}

.card-aboutme {
  transform: translateX(65px);
  margin-top: -20px;
}

.beginning-container {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  padding: 40px 0px;
  /* border-bottom: 1.7px solid #c9adc6; */
  /* margin-bottom: 20px; */
}
.begining-info {
  margin-top: 75px;
  width: 900px;
}

.begining-info h4 {
  font-size: 16px;
  /* color: #c9adc6; */
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  margin-left: 50px;
  margin-bottom: 15px;
}

.begining-info p {
  color: #424242;
  font-size: 20.8px;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-bottom: 15px;
}

.Imageinfo {
  width: 100%;
  vertical-align: bottom;
}

.Info {
  /* border: 18px solid #c9adc6; */
  margin-right: 25px;
}

.career-container {
  display: flex;
  justify-content: space-around;
  /* gap: 70px; */
  padding: 40px 0px;
  border-bottom: 1.7px solid #c9adc6;
}

.career-image {
  width: 100%;
  margin-left: 40px;
  /* border: 15px solid #c9adc6; */
}

.career-info {
  margin-top: 100px;
  margin-right: 50px;
  width: 800px;
}

.career-info h4 {
  font-size: 16px;
  /* color: #c9adc6; */
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  margin-left: 150px;
  margin-bottom: 15px;
}

.career-info p {
  color: #424242;
  font-size: 20.8px;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 150px;
  margin-bottom: 20px;
}

.career-info a {
  margin-left: 150px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #b08ead;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  border: 1.5px solid #c9adc6;
  border-radius: 50px;
  padding: 12px 12px;
}

.career-info a:hover {
  color: white;
  background-color: #b08ead;
}

.buynow-info {
  background-color: #c9adc6;
  /* background-color: #121f38; */
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.buynow-img {
  width: 40%;
}

.buynow-info .card {
  margin-top: -20px;
  transform: translateX(-70px);
}

.cushion-details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
  /* box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.09); */
}

.cushion-img {
  height: 370px;
  width: 380px;
  transition: 0.3s;
}

.cushion-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cushion {
  text-align: center;
  cursor: pointer;
}

.cushion-type {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  color: #5f4d5d;
  line-height: 1.5;
  letter-spacing: 1px;
}

.cushion-price {
  color: grey;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.cushion-details-1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 140px;
}

.form-details {
  /* background-color: #ceb3cb; */
  /* background-color: #edf5f7; */
  background-color: white;
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.support-detaills {
  /* background-color: red; */
  width: 260px;
  flex-shrink: 0;
}

.user-form {
  /* background-color: red; */
  flex-shrink: 0;
  width: 680px;
  margin-left: 70px;
}

.user-form form input {
  border: 5px solid #edf5f7;
  background-color: #edf5f7;
}

.user-form form textarea {
  border: 5px solid #edf5f7;
  background-color: #edf5f7;
}

.user-form form input:focus {
  outline: solid 2px #f3b083;
}

.user-form form textarea:focus {
  outline: solid 2px #f3b083;
}
.support-detaills .email {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-top: 100px;
  margin-bottom: 5px;
}

.support-detaills .emailaddress {
  font-size: 21px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.support-detaills .phone {
  text-transform: uppercase;
  color: black;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 10px;
}

.support-detaills .phonenumber {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: "Cormorant Garamond", sans-serif;
  display: inline-block;
  margin-bottom: 30px;
}

.support-detaills .address {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
}

.support-detaills .address-details {
  font-size: 22px;
  color: black;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.user-form .address {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-top: 100px;
  margin-bottom: 5px;
}

.user-form .contact-message {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.forminput {
  width: 300px;
  height: 50px;
  color: black;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  border: 1.3px solid black;
  margin-right: 35px;
  margin-bottom: 30px;
  background-color: transparent;
}

::placeholder {
  color: rgb(103, 101, 101);
  padding: 20px 20px;
}

.textarea-msg {
  background-color: transparent;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: black;
  margin-bottom: 25px;
}

.btn-submit {
  width: 20%;
  height: 50px;
  background-color: #f76707;
  border: 1px solid #f76707;
  color: white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: white;
  color: black;
}

.promotiondetails-container {
  /* background-color: red; */
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.promotiondetails-container .newsletter {
  text-transform: uppercase;
  /* color: #b08ead; */
  color: #e47a2e;
  font-weight: bold;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 15px;
}

.updates {
  text-align: center;
  font-size: 25px;
  font-family: "Great Vibes", cursive;
  /* color: #7c707b; */
  color: #121f38;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 18px;
}

.subscription-form .name {
  margin-left: 350px;
  width: 17%;
  height: 60px;
}

.subscription-form ::placeholder {
  color: #533750;
  font-size: 16px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

.subscription-form .email {
  margin-left: -6px;
  width: 15%;
  height: 60px;
}

.btn-subscribe {
  margin-left: -6px;
  width: 15%;
  height: 60px;
  color: white;
  /* background-color: #b08ead; */
  background-color: #e47a2e;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-subscribe:hover {
  background-color: white;
  color: #e47a2e;
  border: 3px solid #e47a2e;
}

.item-logo-container {
  width: 100%;
  height: 250px;
  /* background-color: #d6bbd3; */
  background-color: #121f38;
  display: flex;
  justify-content: space-evenly;
}

.image-container {
  margin-top: 30px;
  /* background-color: #ba9fb7; */
  /* background-color: #121f38; */
  background-color: #f76707;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.item-img {
  width: 50%;
  height: 100px;
  margin-left: 23px;
}

.item p {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}

.footer {
  /* background-color: #c9adc6; */
  background-color: #121f38;
  /* background-color: black; */
  width: 100%;
  height: 150px;
}

.footer .navigation-container {
  display: flex;
  align-items: center;
  padding-top: 35px;
  justify-content: space-evenly;
}

.footer a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  margin-right: 20px;
}

.footer-img {
  width: 45%;
  margin-left: 30px;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.cushion-img:hover {
  animation: shake 500ms ease-in-out forwards;
}

.homestay {
  margin-left: 30px;
}

.cushion-curated {
  margin-bottom: 40px;
}
.curated-cushion {
  /* width: 100%; */
  margin-left: 30px;
}

/*Footer */

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
